name: Tests
on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  testsuite:
    name: Test suite
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - gcc
          - clang
        fuse:
          - fuse
          - fuse3
        os:
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-22.04-arm
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build LXCFS
        uses: ./.github/actions/build
        with:
          compiler: ${{ matrix.compiler }}
          fuse: ${{ matrix.fuse }}
          os: ${{ matrix.os }}

      - name: Test
        env:
          CC: ${{ matrix.compiler }}
          LIBFUSE: ${{ matrix.fuse }}
        run: |
          echo "::group::Running the testsuite"

          echo 1 | sudo tee /sys/fs/cgroup/cpuset/cgroup.clone_children || true
          sudo -E PATH="${PATH}" LD_LIBRARY_PATH="${LD_LIBRARY_PATH}" build/tests/main.sh

          echo "::endgroup::"

  upgrade-test:
    name: Upgrade test
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - gcc
        fuse:
          - fuse3
        os:
          - ubuntu-24.04
        branch:
          - stable-5.0
          - stable-6.0
          - main
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build LXCFS
        uses: ./.github/actions/build
        with:
          compiler: ${{ matrix.compiler }}
          fuse: ${{ matrix.fuse }}
          os: ${{ matrix.os }}

      - name: Build upstream head version
        env:
          CC: ${{ matrix.compiler }}
          BASE_BRANCH: ${{ matrix.branch }}
        run: |
          git clone -b "${BASE_BRANCH}" https://github.com/lxc/lxcfs.git ../upstream-lxcfs
          cd ../upstream-lxcfs
          meson setup -Ddocs=false -Dtests=true -Dinit-script=systemd -Dprefix=/usr -Db_sanitize=address,undefined build/
          meson compile -C build

      - name: Test
        env:
          CC: ${{ matrix.compiler }}
          LIBFUSE: ${{ matrix.fuse }}
          WORKSPACE_PATH: ${{ github.workspace }}
        run: |
          UPSTREAM_LXCFS_TREE=$(realpath ${WORKSPACE_PATH}/../upstream-lxcfs)
          NEW_LXCFS_TREE="${WORKSPACE_PATH}"

          echo "${NEW_LXCFS_TREE}"
          echo "${UPSTREAM_LXCFS_TREE}"

          cd $UPSTREAM_LXCFS_TREE
          [ -f build/tests/live-upgrade-test.sh ] || exit 0

          echo 1 | sudo tee /sys/fs/cgroup/cpuset/cgroup.clone_children || true
          sudo -E PATH="${PATH}" LD_LIBRARY_PATH="${LD_LIBRARY_PATH}" build/tests/live-upgrade-test.sh "${NEW_LXCFS_TREE}"
